div.parent-div {
    display: grid;
    grid-template-columns: 100px 900px;
}

div .animate-div {
    height: 70px;
    margin: 20px;
    background-color: #0ff1ce;
    width: 0;
    transition: 2s ease;

}

h1 {
    margin: auto;
}